app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: ArgoCD
  content: application.yaml
app_test:
  - name: ''
    configType: artillery
    configPath: Divyeshzb/newVotingApp/
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-08T05:41:32.827Z
